@using SiteDiscover.Application.Features.DigitalSignages.Queries.GetById
@using SiteDiscover.Application.Features.GeneralInformations.Queries.GeneralInformationGetById
@using SiteDiscover.Application.Features.ITContacts.Queries.GetAll
@using SiteDiscover.Application.Features.MeetingRooms.Queries.GetById
@using SiteDiscover.Application.Features.NetworkArchitectures.Queries
@using SiteDiscover.Application.Features.ServerRooms.Queries.GetById
@using SiteDiscover.Application.Features.Sites.Queries.GetById
@using System.Globalization
@using SiteDiscover.Domain.Enums

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model (SiteGetByIdDto site,Dictionary<ITContactCategory, List<ITContactGetAllDto>> ITContacts,GeneralInformationGetByIdDto GeneralInformation, DigitalSignageGetByIdDto digitalSignage, MeetingRoomGetByIdDto meetingRoom, ServerRoomGetByIdDto serverRoom,NetworkArchitectureGetByIdDto networkArchitecture )

<section>
    <div class="container text-center">
        <h2 class="header-line-slim">@Localizer["IT Contacts"]</h2>
        <div class="row row-30 mt-4 justify-content-center">

            @foreach (var itContactKeyValuePair in Model.ITContacts)
            {

                var header = itContactKeyValuePair.Key switch
                {
                    ITContactCategory.TPE => "T&PE",
                    ITContactCategory.IT_OPERATIONS => Localizer["IT OPERATIONS"].Value.ToString(),
                    ITContactCategory.OSS => "OSS",
                    _ => String.Empty
                };
                <div class="col-md-6 col-lg-5 col-xl-4">

                    @await Component.InvokeAsync("ContactCard", new { header = header, contacts = itContactKeyValuePair.Value })
                </div>
            }






        </div>
    </div>
</section>


<section class="general-information">
    <div class="container text-center">
        <h2 class="header-line-slim">@Localizer["General Information"]</h2>

        <div class="custom-card d-block text-center">
            <div class="row">
                <div class="col-md-4 p-2">
                    <span class="custom-card-status">@Localizer["Site Status"]: </span>
                    <span class="site-status">@Model.GeneralInformation.SiteStatus</span>
                </div>
                <div class="col-md-4 p-2">
                    <span class="custom-card-status">@Localizer["Site Type"]: </span>
                    <span class="site-type">@Model.site.SiteType</span>
                </div>
                <div class="col-md-4 p-2">
                    <span class="custom-card-status"> @Localizer["Number of Employees"]:</span>
                    <span class="num-employees">@Model.GeneralInformation.NumberOfEmployees</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 p-2">
                    <span class="custom-card-status">@Localizer["Operating Hours"]:</span>
                    <span class="operating-hours">@Model.GeneralInformation.OperatingHours</span>
                </div>
                <div class="col-md-4 p-2">
                    <span class="custom-card-status">@Localizer["Time Zone"]:</span>
                    <span class="time-zone">UTC+1</span>
                </div>
                <div class="col-md-4 p-2">
                    <span class="custom-card-status">@Localizer["Launch Year"]:</span>
                    <span class="launch-year">@Model.GeneralInformation.LaunchYear.ToString("yyyy")</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 p-2">
                    <span class="custom-card-status">@Localizer["Site Size"]:</span>
                    <span class="size">@Model.GeneralInformation.SiteSize</span>
                </div>
                <div class="col-md-4 p-2">
                    <div class="location">
                        <p>@Model.site.Country</p>
                        <h4 class="d-inline-block">ÖÖ 9:30</h4>
                        <span class="date">Perşembe, 4.04.2024</span>
                    </div>
                </div>
                <div class="col-md-4 p-2">
                    <button class="btn btn-primary mt-auto" type="submit"
                            onclick="window.location.href ='factory-image.html'">
                        @Localizer["Factory Image Gallery"]
                    </button>
                </div>

            </div>
        </div>
    </div>

</section>




<section class="technical-infrastructure">
    <div class="container text-center">
        <h2 class="header-line-slim">@Localizer["Technical Infrastructure"]</h2>
        <div class="row row-30">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="custom-card">
                    <div class="unit">
                        <div class="unit-body">
                            <p class="custom-card-status mb-2">
                                @Localizer["Server Rooms"]:
                            </p>
                            <div>@Localizer["Total number of meeting room"]: @Model.serverRoom.TotalMeetingRooms</div>
                            <div>@Localizer["Number of Server Rooms"]:  @Model.serverRoom.NumberOfServerRooms</div>
                            <button class="btn btn-primary" type="submit"
                                    onclick="window.location.href ='network-topology.html'">
                                @Localizer["Server Rooms Gallery"]
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="custom-card">
                    <div class="unit">
                        <div class="unit-body">
                            <p class="custom-card-status mb-2">@Localizer["Meeting Rooms"]:</p>
                            <div>@Localizer["Total number of meeting room"]: @Model.meetingRoom.TotalMeetingRooms</div>
                            <div>@Localizer["Number of standard meeting room"]: @Model.meetingRoom.NumberOfStandardMeetingRooms</div>
                            <button class="btn btn-primary" type="submit"
                                    onclick="window.location.href ='meeting-rooms.html'">
                                @Localizer["Meeting Rooms Details"]
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="custom-card">
                    <div class="unit">
                        <div class="unit-body">
                            <p class="custom-card-status mb-2">@Localizer["Digital Signage"]:</p>
                            <div>@Localizer["Cloud"]: @(Model.digitalSignage.Cloud ? "Yes" : "No")</div>
                            <div>@Localizer["Provider"]: @Model.digitalSignage.Provider</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="custom-card">
                    <div class="unit">
                        <div class="unit-body">
                            <p class="custom-card-status">@Localizer["Network Architecture"]:</p>
                            <div>
                                @Localizer["Number of internet lines"]: @Model.networkArchitecture.NumberOfInternetLines
                            </div>
                            <div>@Localizer["Connection Speed"]: @Model.networkArchitecture.ConnectionSpeed</div>
                            <button class="btn btn-primary" type="submit"
                                    onclick="window.location.href ='network-topology.html'">
                                @Localizer["Network Topology"]
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-center">
        <div class="card">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <h3 class="pb-2">@Model.site.SiteType location</h3>
                    <span>@Model.site.Address</span>
                </div>
                <div class="col-md-8" style="height: 400px;">
                    <iframe src="http://maps.google.com/maps?q=38.1940474,27.3633318&z=16&output=embed"
                            height="100%" width="100%" style="flex: 1;" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

</section>